#map {
	position: absolute;
	height: 800px;
	width: 97%; 
}


.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255,255, 0, 0);
	border-radius: 5px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
}

h1, h2, h3, h4, h5, h6, p {
	color: red;
	border-style: solid;
	padding: 5px;
}